<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCKU NEAT LAB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/neat_logo.jpg" alt="NEAT LAB Logo">
                <span>NEAT LAB</span>
            </div>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/detect">detect</a></li>
                <li><a href="/cctv">cctv</a></li>
                <li><a href="/panorama">panorama</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-container">
        <div id="video-section">
            <h2>rtsp 環境監測</h2>            
            <div id="control_section">
                <div id="control_section_left">
                    <img id="rtsp_test" src="/video_feed_1" alt="RTSP Feed 1">
                    <h2>左攝影機控制</h2>
                    <div>
                        <label>變焦值: <span id="zoomDisplay">----</span></label>
                        <input type="range" id="zoomSlider" min="0" max="9999" value="2479">
                        <div id="zoomStatus">就緒</div>
                    </div>
                </div>
                <div id="control_section_right">
                    <img id="rtsp_test_2" src="/video_feed_2" alt="RTSP Feed 2">
                    <h2>右攝影機控制</h2>
                    <div>
                        <div id="direction-control">
                            <button id="upBtn">上</button>
                            <button id="downBtn">下</button>
                            <button id="leftBtn">左</button>
                            <button id="rightBtn">右</button>
                            <div id="directionStatus">就緒</div>
                        </div>
                        <div>
                            <label>變焦值: <span id="zoomDisplay_2">----</span></label>
                            <input type="range" id="zoomSlider_2" min="0" max="9999" value="2479">
                            <div id="zoomStatus_2">就緒</div>
                        </div>                
                    </div> 
                </div>
            </div>
        </div>

        <main id="sensor-section">
            <h2 id="raspberry">實驗室 neat 樹莓派溫溼度監測</h2>

            <div id="temperature" class="upload-box">溫度：<span id="temp">--</span> °C</div>
            <div id="humidity" class="upload-box">濕度：<span id="hum">--</span> %</div>
            <div id="timestamp" class="upload-box">時間：<span id="time">--</span></div>

            <script src="../static/cctv.js"></script>
        </main>
    </div>
</body>
</html>