<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/detect">detect</a></li>
                <li><a href="/cctv">cctv</a></li>
                <li><a href="/panorama">panorama</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>